.page-register {
  padding-top: 130px;
  padding-bottom: 50px;
  background: #f2f4f5;
  h1{
    text-align: center;
    padding-bottom: 30px;
  }
  .container{
    border-top: 3px solid #00A0E9;
    width: 800px;
    margin: auto;
    padding: 30px;
    background: #fff;
  }
}